# Build
.build
.logs
.pkg
.tree
.snapd
/snap
snapd.backup
tests/tldr
tests/tldr.tar.gz
tests/bats_dirty

# mkdocs
__pycache__
.cache
public
site

# Debian
*.deb
*.buildinfo
*.changes
debian/.debhelper
debian/*.debhelper

# Debian build packages
debian/apparmor.d.*/
debian/apparmor.d.displace
debian/apparmor.d.substvars
debian/apparmor.d/
debian/debhelper-build-stamp
debian/files

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
testdata/cache

# Packer
output/
packer_cache/
crash.log
*.box

# Vagrant
.vagrant/
.ropeproject
