# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# https://zensical.org/docs/setup/basics/

[project]

# Project information
site_name = "AppArmor.d"
site_url = "https://apparmor.pujol.io"
site_description = "Full set of AppArmor profiles"
site_author = "Alexandre Pujol"
copyright = "Copyright &copy; 2021-2026 Alexandre Pujol"

# Repository
repo_name = "roddhjav/apparmor.d"
repo_url = "https://github.com/roddhjav/apparmor.d"
edit_uri = "edit/main/docs/"

# Extra stylesheets and scripts
extra_css = ["assets/stylesheets/extra.css"]

# Navigation structure
nav = [
    { "Home" = [
        { "Home" = [
            "index.md",
        ] },
        { "Getting Started" = [
            "overview.md",
            "install.md",
            "configuration.md",
            "usage.md",
            "report.md",
        ] },
        { "Advanced" = [
            "variables.md",
            "enforce.md",
            "full-system-policy.md",
        ] },
        { "Troubleshooting" = [
            "issues.md",
            "recovery.md",
        ] },
    ] },
    { "Development" = [
        { "Development" = [
            "development/index.md",
            "development/roadmap.md",
        ] },
        { "Profiles" = [
            "development/workflow.md",
            "development/guidelines.md",
            "development/internal.md",
            "development/directives.md",
            "development/dbus.md",
            "development/recommendations.md",
        ] },
        { "Packages" = [
            "development/overview.md",
            "development/build.md",
        ] },
        { "Tests" = [
            "development/tests.md",
            "development/vm.md",
            "development/integration.md",
            "development/autopkgtest.md",
        ] },
    ] },
]

# Navigation structure
# Theme configuration
[project.theme]
logo = "assets/favicon.png"
favicon = "assets/favicon.png"
features = [
    "content.action.edit",
    "content.action.view",
    "content.code.annotate",
    "content.code.copy",
    "content.code.select",
    "content.footnote.tooltips",
    "content.tabs.link",
    "content.tooltips",
    "navigation.indexes",
    "navigation.instant.prefetch",
    "navigation.instant",
    "navigation.sections",
    "navigation.tabs",
    "navigation.top",
    "navigation.tracking",
    "search.highlight",
]

# Extensions
[project.markdown_extensions.abbr]
[project.markdown_extensions.admonition]
[project.markdown_extensions.attr_list]
[project.markdown_extensions.def_list]
[project.markdown_extensions.footnotes]
[project.markdown_extensions.md_in_html]
[project.markdown_extensions.toc]
permalink = true
toc_depth = 4
[project.markdown_extensions.pymdownx.arithmatex]
generic = true
[project.markdown_extensions.pymdownx.betterem]
smart_enable = "all"
[project.markdown_extensions.pymdownx.caret]
[project.markdown_extensions.pymdownx.details]
[project.markdown_extensions.pymdownx.emoji]
emoji_generator = "zensical.extensions.emoji.to_svg"
emoji_index = "zensical.extensions.emoji.twemoji"
[project.markdown_extensions.pymdownx.highlight]
anchor_linenums = true
[project.markdown_extensions.pymdownx.inlinehilite]
[project.markdown_extensions.pymdownx.keys]
[project.markdown_extensions.pymdownx.magiclink]
repo_url_shorthand = true
user = "squidfunk"
repo = "mkdocs-material"
[project.markdown_extensions.pymdownx.mark]
[project.markdown_extensions.pymdownx.smartsymbols]
[project.markdown_extensions.pymdownx.superfences]
custom_fences = [
    { name = "mermaid", class = "mermaid", format = "pymdownx.superfences.fence_code_format" },
]
[project.markdown_extensions.pymdownx.tabbed]
alternate_style = true
[project.markdown_extensions.pymdownx.tabbed.slugify]
kwds = { case = "lower" }
object = "pymdownx.slugs.slugify"
[project.markdown_extensions.pymdownx.tasklist]
custom_checkbox = true
[project.markdown_extensions.pymdownx.tilde]

# Plugins
[project.plugins.offline]
enabled = false

# Palette toggle for automatic mode
[[project.theme.palette]]
media = "(prefers-color-scheme)"
toggle.icon = "lucide/sun-moon"
toggle.name = "Switch to light mode"

# Palette toggle for light mode
[[project.theme.palette]]
media = "(prefers-color-scheme: light)"
scheme = "default"
primary = "brown"
accent = "deep orange"
toggle.icon = "lucide/sun"
toggle.name = "Switch to dark mode"

# Palette toggle for dark mode
[[project.theme.palette]]
media = "(prefers-color-scheme: dark)"
scheme = "slate"
primary = "brown"
accent = "deep orange"
toggle.icon = "lucide/moon"
toggle.name = "Switch to system preference"

# Customization
[[project.extra.social]]
icon = "fontawesome/brands/mastodon"
link = "https://mamot.fr/@roddhjav"

[[project.extra.social]]
icon = "fontawesome/brands/github"
link = "https://github.com/roddhjav/apparmor.d"

[[project.extra.social]]
icon = "fontawesome/brands/gitlab"
link = "https://gitlab.com/roddhjav/apparmor.d"

[[project.extra.social]]
icon = "fontawesome/solid/up-right-from-square"
link = "https://pujol.io"
