# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2025 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# ExecStart=/usr/bin/bash

abi <abi/4.0>,

include <tunables/global>

profile debug-shell.service {
  include <abstractions/base>

  all,

  include if exists <local/debug-shell.service>
}

# vim:syntax=apparmor
