# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2025 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# ExecStartPre=/bin/sh -c '[ -s /boot/grub/grubenv ] || rm -f /boot/grub/grubenv; mkdir -p /boot/grub'
# ExecStart=grub-editenv /boot/grub/grubenv unset recordfail
# ExecStartPost=/bin/sh -c 'if grub-editenv /boot/grub/grubenv list | grep -q initrdless_boot_fallback_triggered=1; then echo "grub: GRUB_FORCE_PARTUUID set, initrdless boot paniced, fallback triggered."; fi'

abi <abi/4.0>,

include <tunables/global>

profile grub-common.service {
  include <abstractions/base>

  @{sh_path}           rix,
  @{bin}/{,e}grep       ix,
  @{bin}/grub-editenv  rix,
  @{bin}/mkdir          ix,
  @{bin}/rm             ix,

  /boot/grub/ w,
  /boot/grub/grubenv rw,

  include if exists <local/grub-common.service>
}

# vim:syntax=apparmor
