# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2025 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# /sbin/ldconfig -X

abi <abi/4.0>,

include <tunables/global>

profile ldconfig.service {
  include <abstractions/base>

  @{lib}/ r,
  @{sbin}/ldconfig  r,

  /var/cache/ldconfig/aux-cache rw,
  /var/cache/ldconfig/aux-cache~ rw,

  include if exists <local/ldconfig.service>
}

# vim:syntax=apparmor
