# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2025 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# systemd service: `secureboot-db.service`
#
# ```sh
# /usr/bin/chattr -i /sys/firmware/efi/efivars/KEK-@{uuid}
# /usr/bin/chattr -i /sys/firmware/efi/efivars/db-@{uuid}
# /usr/bin/chattr -i /sys/firmware/efi/efivars/dbx-@{uuid} 
# /usr/bin/sbkeysync --no-default-keystores --keystore /usr/share/secureboot/updates --verbose
# ```

abi <abi/4.0>,

include <tunables/global>

profile secureboot-db.service flags=(complain) {
  include <abstractions/base>

  capability linux_immutable,

  @{bin}/chattr     ix,
  @{bin}/sbkeysync  PUx,

  /usr/share/secureboot/updates/dbx/{,**} r,

  @{sys}/firmware@{efi}/efivars/PK-@{uuid} r,
  @{sys}/firmware/efi/efivars/db-@{uuid} rw,
  @{sys}/firmware/efi/efivars/dbx-@{uuid} rw,
  @{sys}/firmware/efi/efivars/KEK-@{uuid} rw,

  include if exists <local/secureboot-db.service>
}

# vim:syntax=apparmor
