# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2025 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# ExecStart=rm -fv /system-update /etc/system-update

abi <abi/4.0>,

include <tunables/global>

profile system-update-cleanup.service {
  include <abstractions/base>

  @{bin}/rm ix,

  /etc/system-update w,
  /system-update w,

  include if exists <local/system-update-cleanup.service>
}

# vim:syntax=apparmor
