# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2025 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

abi <abi/4.0>,

include <tunables/global>

profile usb_modeswitch.service {
  include <abstractions/base>

  @{sbin}/usb_modeswitch_dispatcher ix,

  include if exists <local/usb_modeswitch.service>
}

# vim:syntax=apparmor
