{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "change_profile" -}}
    {{- template "qualifier" . -}}
    {{- "change_profile" -}}
    {{- with .ExecMode -}}
        {{ " " }}{{ . }}
    {{- end -}}
    {{- with .Exec -}}
        {{ " " }}{{ . }}
    {{- end -}}
    {{- with .ProfileName -}}
        {{ " -> " }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- template "comment" . -}}
{{- end -}}