{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "comment" -}}
    {{- if or .FileInherit .NoNewPrivs .Optional .Comment -}}
        {{- if .IsLineRule -}}
            {{- "#" -}}
        {{- else -}}
            {{- " #" -}}
        {{- end -}}
        {{- if .FileInherit -}}
            {{- " file_inherit" -}}
        {{- end -}}
        {{- if .NoNewPrivs -}}
            {{- " no new privs" -}}
        {{- end -}}
        {{- if .Optional -}}
            {{- " optional:" -}}
        {{- end -}}
        {{- with .Comment -}}
            {{- if or $.FileInherit $.NoNewPrivs $.Optional -}}
                {{- " " -}}
            {{- end -}}
            {{- . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
