{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "file" -}}
    {{- template "qualifier" . -}}
    {{- if .Owner -}}
        {{- "owner " -}}
    {{- end -}}
    {{- .Path -}}
    {{- " " -}}
    {{- with .Padding -}}
        {{ . }}
    {{- end -}}
    {{- .Access -}}
    {{- with .Target -}}
        {{ " -> " }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- template "comment" . -}}
{{- end -}}