{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "io_uring" -}}
    {{- template "qualifier" . -}}
    {{- "io_uring" -}}
    {{- with .Access -}}
        {{ " " }}{{ cjoin . }}
    {{- end -}}
    {{- .Padding 2 -}}
    {{- with .Label -}}
        {{ " label=" }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- .Padding 3 -}}
    {{- template "comment" . -}}
{{- end -}}
