{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "mount" -}}
    {{- template "qualifier" . -}}
    {{- "mount" -}}
    {{- with .FsType -}}
        {{ " fstype=" }}{{ . }}
    {{- end -}}
    {{- .Padding 2 -}}
    {{- with .Options -}}
        {{ " options=" }}{{ cjoin . }}
    {{- end -}}
    {{- .Padding 3 -}}
    {{- with .Source -}}
        {{ " " }}{{ . }}
    {{- end -}}
    {{- with .MountPoint -}}
        {{ " -> " }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- .Padding 5 -}}
    {{- template "comment" . -}}
{{- end -}}

{{- define "remount" -}}
    {{- template "qualifier" . -}}
    {{- "remount" -}}
    {{- with .FsType -}}
        {{ " fstype=" }}{{ . }}
    {{- end -}}
    {{- .Padding 2 -}}
    {{- with .Options -}}
        {{ " options=" }}{{ cjoin . }}
    {{- end -}}
    {{- .Padding 3 -}}
    {{- with .MountPoint -}}
        {{ " " }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- .Padding 4 -}}
    {{- template "comment" . -}}
{{- end -}}

{{- define "umount" -}}
    {{- template "qualifier" . -}}
    {{- "umount" -}}
    {{- with .FsType -}}
        {{ " fstype=" }}{{ . }}
    {{- end -}}
    {{- .Padding 2 -}}
    {{- with .Options -}}
        {{ " options=" }}{{ cjoin . }}
    {{- end -}}
    {{- .Padding 3 -}}
    {{- with .MountPoint -}}
        {{ " " }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- .Padding 4 -}}
    {{- template "comment" . -}}
{{- end -}}
