{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "network" -}}
    {{- template "qualifier" . -}}
    {{ "network" }}
    {{- with .Domain -}}
        {{ " " }}{{ . }}
    {{- end -}}
    {{- with .Type -}}
        {{ " " }}{{ . }}
    {{- else -}}
        {{- with .Protocol -}}
            {{ " " }}{{ . }}
        {{- end -}}
    {{- end -}}
    {{- "," -}}
    {{- template "comment" . -}}
{{- end -}}