{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "pivot_root" -}}
    {{- template "qualifier" . -}}
    {{- "pivot_root" -}}
    {{- with .OldRoot -}}
        {{ " oldroot=" }}{{ . }}
    {{- end -}}
    {{- .Padding 2 -}}
    {{- with .NewRoot -}}
        {{ " " }}{{ . }}
    {{- end -}}
    {{- .Padding 3 -}}
    {{- with .TargetProfile -}}
        {{ " -> " }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- .Padding 4 -}}
    {{- template "comment" . -}}
{{- end -}}