{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "ptrace" -}}
    {{- template "qualifier" . -}}
    {{- "ptrace" -}}
    {{- with .Access -}}
        {{ " " }}{{ cjoin . }}
    {{- end -}}
    {{- with .Peer -}}
        {{ " peer=" }}{{ . }}
    {{- end -}}
    {{- "," -}}
    {{- template "comment" . -}}
{{- end -}}