{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "variable" -}}
    {{- "@{" -}}{{- .Name -}}{{- "}" -}}
    {{- if .Define }}
        {{- " = " -}}
    {{- else -}}
        {{- " += " -}}
    {{- end -}}
    {{- join .Values -}}
    {{- template "comment" . -}}
{{- end -}}
