{{- /* apparmor.d - Full set of apparmor profiles */ -}}
{{- /* Copyright (C) 2021-2024 Alexandre Pujol <alexandre@pujol.io> */ -}}
{{- /* SPDX-License-Identifier: GPL-2.0-only */ -}}

{{- define "apparmor" -}}

    {{- with .Comments -}}
        {{- range . -}}
            {{- template "comment" . -}}
            {{- "\n" -}}
        {{- end -}}
        {{- "\n" -}}
    {{- end -}}

    {{- with .Abi -}}
        {{- range . -}}
            {{- template "abi" . -}}
            {{- "\n" -}}
        {{- end -}}
        {{- "\n" -}}
    {{- end -}}

    {{- with .Aliases -}}
        {{- range . -}}
            {{- template "alias" . -}}
            {{- "\n" -}}
        {{- end -}}
        {{- "\n" -}}
    {{- end -}}

    {{- with .Includes -}}
        {{- range . -}}
            {{- template "include" . -}}
            {{- "\n" -}}
        {{- end -}}
        {{- "\n" -}}
    {{- end -}}

    {{- range .Variables -}}
        {{- template "variable" . -}}
        {{- "\n" -}}
    {{- end -}}

    {{- range .Profiles -}}
        {{- template "profile" . -}}
        {{- "\n" -}}
    {{- end -}}

{{- end -}}
