{{- define "comment" -}}
    {{- if or .FileInherit .NoNewPrivs .Optional .Comment -}}
        {{- "  #" -}}
    {{- end -}}
    {{- if .FileInherit -}}
        {{- " file_inherit" -}}
    {{- end -}}
    {{- if .NoNewPrivs -}}
        {{- " no new privs" -}}
    {{- end -}}
    {{- if .Optional -}}
        {{- " optional:" -}}
    {{- end -}}
    {{- with .Comment -}}
        {{ " " }}{{ . }}
    {{- end -}}
{{- end -}}
