{{- define "comment" -}}
    {{- if or .FileInherit .NoNewPrivs -}}
        {{- "  #" -}}
    {{- end -}}
    {{- if .FileInherit -}}
        {{- " file_inherit" -}}
    {{- end -}}
    {{- if .NoNewPrivs -}}
        {{- " no new privs" -}}
    {{- end -}}
{{- end -}}
