{{- define "include" -}}
    {{- "include" -}}
    {{- if .IfExists -}}
        {{ " if exists" }}
    {{- end -}}
    {{- if .IsMagic -}}
        {{ " <" }}{{ .Path }}{{ ">" }}
    {{- else -}}
        {{ " \"" }}{{ .Path }}{{ "\"" }}
    {{- end -}}
{{- end -}}
