{{- define "qualifier" -}}
    {{- with .Prefix -}}
        {{ . }}
    {{- end -}}
    {{- if .Audit -}}
        {{- "audit " -}}
    {{- end -}}
    {{- if eq .AccessType "deny" -}}
        {{- "deny " -}}
    {{- end -}}
{{- end -}}
