# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2023-2024 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

  abi <abi/4.0>,

  #aa:dbus common bus=session name=org.freedesktop.portal.{d,D}esktop label=xdg-desktop-portal

  dbus send bus=session path=/org/freedesktop/portal/desktop
       interface=org.freedesktop.DBus.Properties
       member=Read
       peer=(name="{@{busname},org.freedesktop.portal.Desktop}", label=xdg-desktop-portal),

  dbus send bus=session path=/org/freedesktop/portal/desktop
       interface=org.freedesktop.portal.Settings
       member={Read,ReadAll}
       peer=(name="@{busname}", label=xdg-desktop-portal),

  dbus receive bus=session path=/org/freedesktop/portal/desktop
       interface=org.freedesktop.portal.Settings
       member=SettingChanged
       peer=(name="@{busname}", label=xdg-desktop-portal),

  dbus receive bus=session path=/org/freedesktop/portal/desktop
       interface=org.freedesktop.DBus.Properties
       member={Get,GetAll}
       peer=(name="@{busname}", label=xdg-desktop-portal),

  dbus receive bus=session path=/org/freedesktop/portal/desktop
       interface=org.freedesktop.impl.portal.Settings
       member={Read,ReadAll}
       peer=(name="@{busname}", label=xdg-desktop-portal),

  dbus send bus=session path=/org/freedesktop/portal/desktop
       interface=org.freedesktop.host.portal.Registry
       member=Register
       peer=(name=org.freedesktop.portal.Desktop, label=xdg-desktop-portal),

  include if exists <abstractions/bus/org.freedesktop.portal.Desktop.d>

# vim:syntax=apparmor
