Source: apparmor.d
Section: admin
Priority: standard
Maintainer: Alexandre Pujol <alexandre@pujol.io>
Build-Depends: debhelper-compat (= 13),
               golang-go,
               just,
Homepage: https://github.com/roddhjav/apparmor.d
Vcs-Browser: https://github.com/roddhjav/apparmor.d
Vcs-Git: https://github.com/roddhjav/apparmor.d.git
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: apparmor.d
Architecture: any
Depends: ${misc:Depends},
         apparmor-profiles,
         apparmor.d-base (= ${binary:Version}),
         apparmor.d-tools (= ${binary:Version}),
Conflicts: apparmor-profiles-extra
Description: Full set of AppArmor profiles
 apparmor.d is a set of over 2000 AppArmor policies whose aim is to confine
 most Linux based applications and processes.

Package: apparmor.d-base
Architecture: all
Description: Full set of AppArmor profiles (base abstractions, tunables, and booleans)
 apparmor.d-base is a set of base abstractions, tunables, and booleans defined 
 by apparmor.d

Package: apparmor.d-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Full set of AppArmor profiles (userland toolings)
 apparmor.d-tools is a set of userland toolings to help manage AppArmor
 profiles defined in apparmor.d.
