Source: apparmor.d
Section: admin
Priority: optional
Maintainer: Alexandre Pujol <alexandre@pujol.io>
Build-Depends: debhelper (>= 13.4),
               debhelper-compat (= 13),
               golang-any,
               lsb-release,
               rsync,
Homepage: https://github.com/roddhjav/apparmor.d
Vcs-Browser: https://github.com/roddhjav/apparmor.d
Vcs-Git: https://github.com/roddhjav/apparmor.d.git
Standards-Version: 4.5.0
Rules-Requires-Root: no

Package: apparmor.d
Architecture: all
Depends: apparmor-profiles, ${misc:Depends}
Description: Full set of AppArmor profiles (~ 1400 profiles)