Source: apparmor.d
Section: admin
Priority: optional
Maintainer: Alexandre Pujol <alexandre@pujol.io>
Build-Depends: debhelper (>= 13.4),
               debhelper-compat (= 13),
               golang-any,
               config-package-dev,
               just,
Homepage: https://github.com/roddhjav/apparmor.d
Vcs-Browser: https://github.com/roddhjav/apparmor.d
Vcs-Git: https://github.com/roddhjav/apparmor.d.git
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: apparmor.d
Architecture: any
Depends: apparmor-profiles
Conflicts: apparmor-profiles-extra
Provides: apparmor-profiles-extra
Description: Full set of AppArmor profiles (~ 1500 profiles)
  apparmor.d is a set of over 1500 AppArmor profiles whose aim is to confine
  most Linux based applications and processes.
