#!/usr/bin/make -f
# rules makefile.
# Copyright (C) 2021 Alexandre Pujol <alexandre@pujol.io>
#

#export DH_VERBOSE=1

%:
	dh $@ --with=config-package

override_dh_auto_configure:
	./configure --distribution=debian --flavor=desktop
