#!/usr/bin/make -f
# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2021 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

%:
	dh $@ --with=config-package

override_dh_auto_configure:
	./configure --complain
