# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2023 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# Profile for a systemd service, it does not specify an attachment path because
# it is intended to be used only via "Px -> *.service" exec transitions from systemd

abi <abi/3.0>,

include <tunables/global>

profile ldconfig.service {
  include <abstractions/base>

  @{bin}/ldconfig  mr,
  @{lib}/ r,

  /var/cache/ldconfig/{,**} rw,

  include if exists <usr/ldconfig.service.d>
  include if exists <local/ldconfig.service>
}