# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2023 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# Profile for a systemd service, it does not specify an attachment path because
# it is intended to be used only via "Px -> *.service" exec transitions from systemd.service

abi <abi/3.0>,

include <tunables/global>

profile man-db.service @{exec_path} {
  include <abstractions/base>

  @{bin}/install  mr,
  @{bin}/find     mr,

  include if exists <local/man-db.service>
}