# apparmor.d - Full set of apparmor profiles
# Copyright (C) 2023 Alexandre Pujol <alexandre@pujol.io>
# SPDX-License-Identifier: GPL-2.0-only

# Profile for a systemd service, it does not specify an attachment path because
# it is intended to be used only via "Px -> *.service" exec transitions from systemd

abi <abi/3.0>,

include <tunables/global>

profile systemd.service @{exec_path} flags=(attach_disconnected)  {
  include <abstractions/base>
  include <abstractions/consoles>

  capability sys_admin,

  # TODO:
  mount -> @{sys}/fs/fuse/connections/, 
  mount -> @{sys}/kernel/*/,
  mount -> /dev/*/,
  mount -> /efi/, 
  mount -> /tmp/, 

  @{bin}/mount         rix, # TODO: maybe, keep it in systemed
  @{bin}/systemctl     rix,
  @{coreutils_path}    rix,
  @{shells_path}      rmix,

  @{bin}/grub-editenv  rPx,
  @{bin}/ibus-daemon   rPx,
  @{bin}/ldconfig      rPx -> ldconfig.service,

  @{lib}/ r,

  /var/cache/ldconfig/aux-cache* rw,

  # grub-common.service
  /boot/grub/grubenv rw,
  /boot/grub/ w,

  /var/log/ r,
  /var/log/dmesg rw,
  /var/log/dmesg.* rwl -> /var/log/dmesg,

  # snapd.system-shutdown.service
  @{run}/initramfs/shutdown rw,
  @{run}/initramfs/ rw,

  @{PROC}/cmdline r,
  @{PROC}/sys/kernel/osrelease r,

  include if exists <usr/systemd.service.d>
  include if exists <local/systemd.service>
}