[data-md-color-scheme=default] {
    --md-footer-fg-color: var(--md-text-color);
    --md-footer-fg-color--light: #808080;
    --md-footer-fg-color--lighter: #b6b6b6;
    --md-footer-bg-color: transparent;
    --md-footer-bg-color--dark: transparent;
    --pg-purple: #603aa0;
    --pg-red: #c0322f;
    --pg-orange: #ac2f09;
    --pg-teal: #04756a;
    --pg-brown: #8d6e62;
    --pg-blue: #0e66ae;
    --pg-green: #2e7e31;
    --pg-blue-gray: #546d78;
}

[data-md-color-scheme=slate] {
    --md-footer-bg-color: transparent;
    --md-footer-bg-color--dark: var(--md-default-bg-color--darkest);
    --pg-purple: #af94de;
    --pg-red: #ff6c6a;
    --pg-orange: #e97b5a;
    --pg-teal: #8dc6c1;
    --pg-brown: #4b1d0b;
    --pg-blue: #74b9f1;
    --pg-green: #72cd75;
    --pg-blue-gray: #9ab2bc;
}

/* Badge colors */
.pg-purple {
    color: var(--pg-purple);
}

.pg-red {
    color: var(--pg-red);
}

.pg-orange {
    color: var(--pg-orange);
}

.pg-teal {
    color: var(--pg-teal);
}

.pg-brown {
    color: var(--pg-brown);
}

.pg-blue {
    color: var(--pg-blue);
}

.pg-green {
    color: var(--pg-green);
}

.pg-blue-gray {
    color: var(--pg-blue-gray);
}
