[data-md-color-scheme=default] {
    --md-footer-fg-color: var(--md-text-color);
    --md-footer-fg-color--light: #808080;
    --md-footer-fg-color--lighter: #b6b6b6;
    --md-footer-bg-color: transparent;
    --md-footer-bg-color--dark: transparent;
}

[data-md-color-scheme=slate] {
    --md-footer-bg-color: transparent;
    --md-footer-bg-color--dark: var(--md-default-bg-color--darkest);
}