[Desktop Entry]
Type=Application
Name=AppArmor Notify
Comment=Receive on screen notifications of AppArmor denials
TryExec=aa-notify
Exec=aa-notify --poll --since-days 1 --wait 60 --file /var/log/audit/audit.log
StartupNotify=false
NoDisplay=true
